# Q1

In [ ]:
import selenium
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import pandas as pd

In [2]:
driver=webdriver.Chrome()

driver.get('https://www.amazon.in/?&ext_vrnc=hi&tag=googhydrabk1-21&ref=pd_sl_7hz2t19t5c_e&adgrpid=58355126069&hvpone=&hvptwo=&hvadid=676742234347&hvpos=&hvnetw=g&hvrand=10141899787163930069&hvqmt=e&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9302680&hvtargid=kwd-10573980&hydadcr=14453_2367553&gclid=Cj0KCQiApOyqBhDlARIsAGfnyMqazVjp8PVYSdVN5AnJK4ydkMvifRUM0oEXEyuRvDQov8RAa50mm7oaAg_jEALw_wcB')

In [4]:
search_find_input=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_find_input.send_keys('Guitar')

In [5]:
Search_button=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
Search_button.click()

In [7]:
Product_url=[]
start=0
end=3
for page in range(start,end):
    url=driver.find_elements(By.XPATH,'//a[@class="a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal"]')
    for i in url:
        Product_url.append(i.get_attribute('href'))
    next_button=driver.find_element(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')
    next_button.click()
    time.sleep(2)

In [8]:
len(Product_url)

180

In [12]:
Brand=[]
Price=[]
for url in Product_url:
    driver.get(url)
    time.sleep(2)
    
    try:
        Brand_name=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[46]/div/table/tbody/tr[1]/td[2]/span')
        Brand.append(Brand_name.text)
        
    except NoSuchElementException:
        Brand.append('No Brand')
        
    try:
        Product_price=driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[13]/div/div/div[4]/div[1]/span[3]/span[2]/span[2]')
        Price.append(Product_price.text)
        
    except NoSuchElementException:
        Price.append('No Price')

In [16]:
df=pd.DataFrame({'Brand':Brand,'Price':Price})
df

            Brand     Price
0         Kadence     5,499
1          Henrix     3,199
2           VAULT     4,899
3    PS Signature     3,599
4          JUAREZ     1,999
..            ...       ...
175        YAMAHA  No Price
176      No Brand     3,299
177       Generic       699
178      No Brand  No Price
179      No Brand       399

[180 rows x 2 columns]

# Q3:

In [25]:
import selenium
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import pandas as pd
import requests

In [32]:
driver=webdriver.Chrome()
driver.get('https://www.google.com/')

In [33]:
input_tag=driver.find_element(By.CLASS_NAME,'gLFyf')
input_tag.send_keys('fruits')

In [34]:
search=driver.find_element(By.CLASS_NAME,'gNO89b').click()

In [35]:
for _ in range(20):
    driver.execute_script('window.scrollBy(0,500)')
    
images= driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')

image_url=[]
for i in images:
    source=i.get_attribute('src')
    if source is not None:
        if(source[0:4]=='http'):
            image_url.append(source)
            
for i in range(len(image_url)):
    if i >10:
        break
        
    print('Downloading {0} of {1} images'.format (i,10))
    response=requests.get(image_url[i])
    file=open(r'C:\Users\ARNAB\Desktop\New folder\fruits'+str(i)+'.jpg','wb')
    file.write(response.content)
    
    
driver.back()
time.sleep(2)


Search_Item=input("Enter Your Search Item:")
driver=webdriver.Chrome()
driver.get('https://www.google.com/')
time.sleep(2)

Enter Your Search Item:cars

In [36]:
input_tag=driver.find_element(By.CLASS_NAME,'gLFyf')
input_tag.send_keys('cars')

In [37]:
search=driver.find_element(By.CLASS_NAME,'gNO89b').click()

In [41]:
for _ in range(20):
    driver.execute_script('window.scrollBy(0,500)')
    
images=driver.find_elements(By.XPATH,'//img[@class="rg_i Q4LuWd"]')

image_URL=[]

for i in images:
    url=i.get_attribute('src')
    if url is not None:
        if(url[0:4]=='http'):
            image_URL.append(url)
            
            
for i in range(len(image_URL)):
    if i >10:
        break
    print ('Downloading {0} of {1} images'.format(i,10))
    response=requests.get(image_URL[i])
    file=open(r"C:\Users\ARNAB\Desktop\New folder\car"+str(i)+".jpg", "wb")
    file.write(response.content)
    time.sleep(2)

Downloading 0 of 10 images
Downloading 1 of 10 images
Downloading 2 of 10 images
Downloading 3 of 10 images
Downloading 4 of 10 images
Downloading 5 of 10 images
Downloading 6 of 10 images
Downloading 7 of 10 images
Downloading 8 of 10 images
Downloading 9 of 10 images
Downloading 10 of 10 images

In [42]:
driver.close()

# Q4:

In [54]:
driver=webdriver.Chrome()
driver.get('https://www.google.com/maps/@22.5354273,88.3473527,12z?entry=ttu')

In [56]:
Search_item=driver.find_element(By.XPATH,'//input[@id="searchboxinput"]').send_keys('kolkata')
click=driver.find_element(By.XPATH,'/html/body/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/div[1]').click()

In [82]:
import re

try:
    url_string=driver.current_url
    lat_long=re.findall(r'@(\d+).(\d{7})',url_string)
    
    
except NoSuchElementException:
    print ("no information")

In [83]:
lat_long

[('22', '5354273')]

# Q6:

In [91]:
driver=webdriver.Chrome()
driver.get('https://www.digit.in/')

In [93]:
First_click=driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[2]/div/div/div/button').click()

In [94]:
Top_ten_click=driver.find_element(By.XPATH,'/html/body/div[4]/div/ul/li[4]').click()

In [95]:
Top_laptop_click=driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/div/div[2]/div[1]/div[3]/div[6]/p/a').click()

In [97]:
product_url=[]

url=driver.find_elements(By.XPATH,'//h3[@class="font130 mt0 mb10 mobilesblockdisplay "]/a')

for i in url:
    product_url.append(i.get_attribute('href'))

In [101]:
Product_Name=[]
Update_Date=[]
offer_Price=[]
product_Link=[]

for i in product_url:
    driver.get(i)
    time.sleep(2)
    


    try:
        name=driver.find_element(By.XPATH,'//h1[@class="floatleft tabletblockdisplay pr20 "]')
        Product_Name.append(name.text)
    
    except NoSuchElementException:
        Product_Name.append('No Information')
        
    try:
        date=driver.find_element(By.CLASS_NAME,'updated_on')
        Update_Date.append(date.text)
        
    except NoSuchElementException:
        Update_Date.append('No information')
        
    try:
        price=driver.find_element(By.XPATH,'/html/body/div[2]/div[3]/div[1]/div/div/div/div/div[2]/div[1]/div[4]/div[9]/div[1]/div/div[2]/div[3]/div/div[1]')
        offer_Price.append(price.text)
        
    except NoSuchElementException:
        offer_Price.append('No information')
        
    try:
        link=driver.find_element(By.XPATH,'//div[@class="cegg-btn-row"]/a')
        product_Link.append(link.get_attribute('href'))
        
    except NoSuchElementException:
        product_Link.append('No information')

In [102]:
import pandas as pd
df=pd.DataFrame({'Product_Name':Product_Name,'Update_Date':Update_Date,'offer_Price':offer_Price,'product_Link':product_Link})
df

,Product_Name,Update_Date,offer_Price,product_Link
0,Apple MacBook Air 2022 M2 MLY03HN/A,Updated on 03-Aug-2023,"Rs. 107,990",https://www.amazon.in/dp/B0B3BQ11LP?tag=thinkd...
1,Samsung Galaxy Book3 Pro 360,Updated on 17-Nov-2023,"Rs. 179,990",https://www.amazon.in/dp/B0BS9GT77Q?tag=thinkd...
2,Lenovo Yoga 9i13th Gen Core I7-1360P,Updated on 08-May-2023,No information,No information
3,Apple MacBook Pro M2 (2023-MPHK3HN/A),Updated on 18-Nov-2023,out of stock,https://www.amazon.in/dp/B0BSJ1Y4YX?tag=thinkd...
4,Dell XPS 13 Plus D560075WIN9S 12th Gen Core I7...,Updated on 17-Nov-2023,"Rs. 177,535",https://www.amazon.in/dp/B0B5DRTH1L?tag=thinkd...
5,Acer Swift X SFX16-51G 11th Gen Core I7-11390H,Updated on 17-Nov-2023,"Rs. 97,290",https://www.amazon.in/dp/B0B3XP8C1V?tag=thinkd...

# Q7:

In [1]:
import selenium
import time
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import pandas as pd

In [2]:
driver=webdriver.Chrome()
driver.get('https://www.forbes.com/billionaires/')

In [18]:
Name=[]

name=driver.find_elements(By.XPATH,'//div[@class="Table_dataCell__2QCve"][1]')
    Name.append(i.text)

IndentationError: unexpected indent (3929642410.py, line 4)

In [19]:
Name

['Bernard Arnault & family']

# Q8:

In [22]:
driver=webdriver.Chrome()
driver.get('https://www.youtube.com/watch?v=NqTysMyLuTA')

In [39]:
for _ in range(50):
    driver.execute_script('window.scrollBy (0,500)')
    
    
Account=[]
comments=[]
post_time=[]

try:
    account=driver.find_elements(By.XPATH,'//h3[@class="style-scope ytd-comment-renderer"]/a')
    for i in account:
        Account.append(i.text)
        
except NoSuchElementException:
    Account.append('No Account found')
    
try:
    comment=driver.find_elements(By.XPATH,'//yt-formatted-string[@id="content-text"]')
    for i in comment:
        comments.append(i.text)
        
except NoSuchElementException:
    comments.append('No Comments')
    
    
try:
    post=driver.find_elements(By.XPATH,'//yt-formatted-string[@class="published-time-text style-scope ytd-comment-renderer"]/a')
    for i in post:
        post_time.append(i.text)

except NoSuchElementException:
    post_time.append('No post time')

In [41]:
df=pd.DataFrame({'Account':Account,'comments':comments,'post_time':post_time})
df

,Account,comments,post_time
0,@BollywoodMashupIndia,In a bus + window seat + long journey +light r...,4 weeks ago
1,@harvinderarora1824,every day I put these songs I love them,4 days ago
2,@AbidSalon,Beautiful song,4 weeks ago
3,@joeykempis1433,I love the song even i dont understand the son...,4 weeks ago
4,@riyadelores9571,AWESOME VOICE,2 months ago
...,...,...,...
67,@elonmusk-tl5sc,Tumarkivideogolo,2 months ago
68,@RameshKaul-ns7sh,,1 month ago
69,@RameshKaul-ns7sh,,1 month ago
70,@RameshKaul-ns7sh,,1 month ago
71,@RameshKaul-ns7sh,,4 weeks ago

# Q9:

In [42]:
driver=webdriver.Chrome()
driver.get('https://www.hostelworld.com/')
time.sleep(2)

In [47]:
input_tag=driver.find_element(By.XPATH,'//*[@id="__layout"]/div/div[2]/div[2]/div[2]/div/div/div/div[1]/div[1]/div/div[2]/input')
input_tag.send_keys('London')

In [48]:
london_click=driver.find_element(By.XPATH,'//*[@id="3"]/button/div[2]/div[1]').click()

In [55]:
Hotel_name=[]
Distance_from_hostel=[]
private_from=[]
Dorms_from=[]

try:
    name=driver.find_elements(By.XPATH,'//div[@class="property-name"]/span')
    for i in name:
        Hotel_name.append(i.text)
        
except NoSuchElementException:
    Hotel_name.append('No Information')
        
    

try:
    distance=driver.find_elements(By.XPATH,'//span[@class="distance-description"]')
    for i in distance:
        Distance_from_hostel.append(i.text)
        
except NoSuchElementException:
    Distance_from_hostel.append('No Information')

In [57]:
len(Distance_from_hostel)

30