In [1]:
import regex as re

Q1: Write a Python program to replace all occurrences of a space, comma, or dot with a colon.
    Sample text: 'Python Exercises, PHP exercises.'

In [2]:
text= "Python Exercises, PHP exercises."
x=re.sub("\s|,",":",text)
print (x)

Python:Exercises::PHP:exercises.

Q2: Write a Python program to find all words starting with 'a' or 'e' in a given string.

In [3]:
Text="Data science is the study of data to extract meaningful insights for business."
find=re.findall("[a,e]\w+",Text)
print (find)

['ata', 'ence', 'ata', 'extract', 'eaningful', 'ess']

Q3:Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
target_string="Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career "
print (re.findall(r"\b\w{4,}\b",target_string))

['Rohit', 'Sharma', 'scored', 'CENTURIES', 'HALFCENTURIES', 'cricket', 'career']

In [5]:
def Specific_chr(text):
    pattern=re.compile(r"\b\w{4,}\b")
    string=pattern.findall(text)
    return string

print(Specific_chr("Rohit Sharma has scored 43 CENTURIES and 91 HALFCENTURIES in his cricket career "))

['Rohit', 'Sharma', 'scored', 'CENTURIES', 'HALFCENTURIES', 'cricket', 'career']

Q4:Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [6]:
target_string= "A rose by any other name would smell as sweet. "

pattern=re.compile(r"\b\w{3,5}\b")

for match in pattern.finditer(target_string):
    print (match.group())

rose
any
other
name
would
smell
sweet

Q5:Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
    Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [7]:
text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for match in text:
    print (re.sub(r" ?\(| ?\)"," ",match))

example .com
hr@fliprobo .com
github .com
Hello Data Science World
Data Scientist

Q6:Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
    Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [8]:
text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
for i in text:
    print (re.sub(r" ?\([^)]+\)" ," " , i))

example
hr@fliprobo
github
Hello
Data

Q7:Write a regular expression in Python to split a string into uppercase letters.
    Sample text: “ImportanceOfRegularExpressionsInPython”

In [9]:
text2 = "ImportanceOfRegularExpressionsInPython"
match=re.findall('[A-Z][^A-Z]*',text2)
print (match)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Q8:Create a function in python to insert spaces between words starting with numbers.
    Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [10]:
text3 = "RegularExpression1IsAn2ImportantTopic3InPython" 
spaces=re.sub(r'(\w)([0-9])', r"\1 \2",text3)
print (spaces)

RegularExpression 1IsAn 2ImportantTopic 3InPython

Q9:Create a function in python to insert spaces between words starting with capital letters or with numbers.
    Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [11]:
import regex as re
def insert_space(string):
    words=re.sub(r"[0-9]|[A-Za-z]*"," ",string)
print(insert_space("RegularExpression1IsAn2ImportantTopic3InPython"))

None

In [12]:
def Insert_space(string):
    words = re.findall(r"[0-9]|[A-Z][a-z]*", string)
    print(' '.join(words))
Insert_space("RegularExpression1IsAn2ImportantTopic3InPython")

Regular Expression 1 Is An 2 Important Topic 3 In Python

Q10:Write a python program to extract email address from the text stored in the text file using Regular Expression.

In [13]:
file=open ('data.txt')
for line in file:
    pattern= '[\w._%-]+@[a-zA-Z0-9]+\.[a-zA-Z]{2,}'
    email=re.findall(pattern,line)
    print (email)

['xyz@domain.com', 'xyz.abc@sdomain.domain']
['hr@fliprobo.com']

Q11:Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [14]:
def text_match(text):

    patterns= r"[A-Za-z]+[0-9_]+"
    match=re.findall(patterns,text)
    
    if match:
        print (match)
        return 'Found Match! \n'
    else:
        return 'Not Found!'
    
print(text_match("The quick brown fox jumps over the lazy dog named xYz_123."))
print(text_match("Python_Exercises_1"))

['xYz_123']
Found Match!

['Python_', 'Exercises_1']
Found Match!

Q12:- Write a Python program where a string will start with a specific number.

In [15]:
def match_num(string):
    text=re.compile(r"^5")
    if text.match(string):
        return True
    else:
        return False
    
print(match_num('5-14254arhbva'))
print (match_num('6-84654alkjvha'))

True
False

Q13:Write a Python program to remove leading zeros from an IP address

In [16]:
ip="216.08.094.196"
string =re.sub(r"\.[0]", "." ,ip)
print (string)

216.8.94.196

Q14:Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [7]:
import regex as re
string= "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country."

pattern= r'([A-Za-z]+) (\d+[a-z]+) (\d+)'
match = re.search (pattern,string)
print (match.group())

August 15th 1947

Q15:Write a Python program to search some literals strings in a string.

In [30]:
patterns = [ 'fox', 'dog', 'horse' ]
text = 'The quick brown fox jumps over the lazy dog.'
for i in patterns:
    print (i,text)
    if re.search (i, text):
        print ('Matched')
    else:
        print ('Not matched')

fox The quick brown fox jumps over the lazy dog.
Matched
dog The quick brown fox jumps over the lazy dog.
Matched
horse The quick brown fox jumps over the lazy dog.
Not matched

Q16:Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [33]:
pattern = 'fox'
text = 'The quick brown fox jumps over the lazy dog.'
match = re.search(pattern, text)
A=match.start()
B=match.end()
print (A,B)

16 19

Q17:Write a Python program to find the substrings within a string.Sample text : 'Python exercises, PHP exercises, C# exercises'

In [35]:

text='Python exercises, PHP exercises, C# exercises'
Pattern ='exercises'
for i in re.findall (Pattern,text):
    print (i)

exercises
exercises
exercises

Q19:Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [45]:
date= '2023-10-13'
date_change=re.sub(r'(\d{4})-(\d{1,2})-(\d{1,2})' , '\\3-\\2-\\1',date)
print (date_change)

13-10-2023

Q20:Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [49]:
text="01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
patten=r'\b([0-9]+\.[0-9]{1,2})\b'
match=re.findall(patten,text)
print (match)

['01.12', '145.8', '3.01', '27.25', '0.25']

Q21:Write a Python program to separate and print the numbers and their position of a given string.

In [8]:
text="Every day i used to take 4 bananas & 2 apples"
for i in re.finditer("\d+",text):
    print (i.group(0))
    print ("Index position:", i.start())

4
Index position: 25
2
Index position: 37

Q22:Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

In [9]:
text="My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
number=re.findall("\d+",text)
print ("Max Value:",max(number))

Max Value: 950

In [10]:
def extract_match (input):
    mnumbers= re.findall ("\d+",input)
    print (mnumbers)
    
    print ("Max numaric value:", max(mnumbers))
input = "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
extract_match (input)

['947', '896', '926', '524', '734', '950', '642']
Max numaric value: 950

Q23:Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"

In [12]:
def putspace(string):
    return re.sub(r"(\w)([A-Z])",r"\1 \2", string)
print(putspace("RegularExpressionIsAnImportantTopicInPython"))

Regular Expression Is An Important Topic In Python

Q24:Python regex to find sequences of one upper case letter followed by lower case letters

In [17]:
def match(text):
    pattern= r"[A-z][a-z]+"
    if re.search (pattern, text):
        return ('Yes')
    else:
        return ('No')
    
print (match("Welcome"))
print (match ("WelcomeHomewelcome Hello Welcome"))
print (match ("Welcome You"))

Yes
Yes
Yes

Q25:Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.Sample Text: "Hello hello world world"

In [27]:
def removeduplicatewords(string):
    regex = r'\b(\w+)(?:\W+\1\b)+'
    return re.sub(regex, r'\1', string)
    
    
string="Hello hello world world"
print(removeduplicatewords(string))

string="Good bye bye world world"
print(removeduplicatewords(string))

Hello hello world
Good bye world

Q26:-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [30]:
def check_alpha_numaric(string):
    pattern=r'[A-Za-z0-9]$'
    if (re.search(pattern,string)):
        print("The string is ending with an alphanumeric character.")
    else:
        print("The string is not ending with an alphanumeric character.")
        
        
check_alpha_numaric("pitchumca@")
check_alpha_numaric("pitchumca123")
check_alpha_numaric("pitchum.")
check_alpha_numaric("staysafeindistancestay")

The string is not ending with an alphanumeric character.
The string is ending with an alphanumeric character.
The string is not ending with an alphanumeric character.
The string is ending with an alphanumeric character.

Q27:Write a python program using RegEx to extract the hashtags.

In [34]:
text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
hastags=re.findall(r"#\w+", text)
print ("Text:\n", text)
print ("Hastags:\n", hastags)

Text:
 RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo
Hastags:
 ['#Doltiwal', '#xyzabc', '#Demonetization']

Q28:Write a python program using RegEx to remove <U+..> like symbols

In [36]:
text= "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern= r"<U\+[A-Z0-9]+>"
remove=re.sub (pattern," ",text)
print (remove)

@Jags123456 Bharat band on 28??<ed>  <ed>  Those who  are protesting #demonetization  are all different party leaders

Q29:Write a python program to extract dates from the text stored in the text file.

In [39]:
text="Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern= r'\d{1,2}-\d{1,2}-\d{4}'
match=re.findall(pattern, text)
print (match)

['12-09-1992', '15-12-1999']

Q30:Create a function in python to remove all words from a string of length between 2 and 4.

In [40]:
def remove_words(string):
    shortword=re.compile(r'\b\w{2,4}\b')
    print (shortword.sub(" ",string))
    
String = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
remove_words(string)

      world world